@import url('./font.css');

/* Define a fonte padrão para todos os elementos */
* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6E6CB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    cursor: pointer;
    overflow-y: auto;
    /* Permitir rolagem se necessário */
}

h1 {
    padding-bottom: 5%;
    font-size: 2em;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

h2 {
    margin-top: -10%;
    font-style: normal;
    font-weight: 800;
}

#sintomas-doencas {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
    font-style: italic;
}

.container-checkbox {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    width: 100%;
    max-width: 1000px;
}

label {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    font-weight: 680;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #595045;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #403831;
}

#resultados {
    margin-top: 20px;
    font-size: 1.2em;
    display: none;
}

#botao-voltar {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}

/* Estilos para telas de celulares */
@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.6em;
        padding-top: 5%;
        padding-bottom: 2%;
    }

    .container-checkbox {
        grid-template-columns: 1fr;
        font-size: 0.8em;
        padding-top: 646px;
    }

    label {
        font-size: 1em;
    }
}

/* Estilos para telas de computadores */
@media (min-width: 601px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        margin-top: 21%;
    }

    .container-checkbox {
        font-size: 1em;
        padding-top: 600px;
    }

    label {
        font-size: 1.2em;
    }
}